<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{principal}">
<head>
<title>Productos</title>
</head>

<th:block layout:fragment="style">
	
</th:block>

<body>

	<div layout:fragment="content">
	
		<h1>PAGINA CLIENTES</h1>
          <!-- /.card -->
        
        
    <h1>EJEMPLO</h1>      
	</div>
	
	<th:block layout:fragment="script">
		<script th:src = "@{../resources/js/pagina/productos/productos.js}" src="../../../../resources/js/pagina/productos/productos.js"></script>
		
<!-- 		</script> -->
   	</th:block>
</body>
</html>