.nav-body{
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #343a40!important;
    z-index: 1;
}